@use 'variables';

/* buttons */
@mixin style-button {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  cursor: pointer;
}

/* forms */
@mixin form {
  width: 100%;
  max-width: $maxWidth;
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 54.95px 0 rgba(133, 133, 133, 0.25);
  position: absolute;
  left: calc(50% - 450px / 2);
  z-index: 1;
}

/* elements controls */
@mixin control {
  cursor: pointer;
  position: absolute;
}